<div class="form">
  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    {{input value=model.name id="name" class="form-control"}}
  </div>
  <div class="form-group">
    <label class="control-label" for="description">Description</label>
    {{input value=model.description id="description" class="form-control" placeholder="optional"}}
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label" for="startDate">Start at</label>
        {{bootstrap-datetimepicker
          id="startDate"
          date=model.startDate
          changed=(action "startDateChanged")
          showClear=true
          showClose=true
          openOnFocus=true
          format="YYYY-MM-DD HH:mm"
          placeholder="optional"}}
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label" for="finishDate">Finish at</label>
        {{bootstrap-datetimepicker
          id="finishDate"
          date=model.finishDate
          changed=(action "finishDateChanged")
          showClear=true
          showClose=true
          openOnFocus=true
          format="YYYY-MM-DD HH:mm"
          placeholder="optional"}}
      </div>
    </div>
  </div>
</div>
