// app/overrides.scss

/* move down content because we have a fixed navbar that is 50px tall */
.root-container {
  padding-top: 50px;
}

/* override font for ace editor */

.ace_editor, .ace_editor * {
  font-family: $font-family-monospace;
}

/* custom styles */

.table {
  width: 100%;
}

.table > tbody > tr > td {
  vertical-align: middle;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h2 {
  padding-bottom: .3em;
}

hr {
  margin: 1.2em 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

.text-mono {
  font-family: $font-family-monospace;
}

div.tooltip-inner {
  max-width: 350px;
}

.pad {
  padding-top: .3em;
  padding-bottom: .3em;
}

.pad-bottom {
  padding-bottom: .6em;
}

.pad-top {
  padding-top: .6em;
}

.img-invert {
  filter: invert(100%);
}

.nav-tabs {
  margin-bottom: 20px;
}

.navbar-brand {
  padding: .3em;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
}

.relative {
  position: relative;
}

.input-icon {
  position: absolute;
  right: .6em;
  top: 0;
  bottom: 0;
  height: 1em;
  margin: auto;
  font-size: 1.2em;
  cursor: pointer;
  color: #ccc;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.small-pad {
  padding: .6em;
}

.wrap {
  white-space: normal;
  word-wrap: break-word;
}

.pointer {
  cursor: pointer;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.chart-series-container {
  position: relative;
  margin: auto;
  height: 50vh;
}

.fa-lg {
  vertical-align: -10%!important;
}

.no-gutters {
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.no-select {
  user-select: none;
}

.nav > li.disabled > a {
  pointer-events: none;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.full-screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1100;
  overflow-x: hidden;
  backdrop-filter: blur(4px);
}

@media (min-width: $screen-sm-min) {
  .border-left-sm {
    border-left: .5em solid #f1f1f1;
  }

  .box-left-sm {
    margin-left: .3em;
    padding-left: .3em;
  }

  .pull-right-sm {
    float: right;
  }

  .text-right-sm {
    text-align: right;
  }

  .dropdown-menu-right-sm {
    left: auto;
    right: 0;
  }
}

@media (max-width: $screen-xs-max) {
  .text-center-xs-only {
    text-align: center;
  }

	.nav-pills > li {
		float: none;
	}

  .pad-bottom-xs-only {
    padding-bottom: 1.2em;
  }
}
