$icon-font-path: "/fonts/";

$font-family-sans-serif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Noto Serif", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
