{{#bootstrap-modal title="Delete scenario" actionTitle="Delete" actionClass="btn-danger" cancel=(action "cancel") action=(action "save") close=(route-action "back")}}
  <p>Are you sure you want to delete <b>{{model.template.name}} ({{model.group.name}})</b> scenario?</p>
{{/bootstrap-modal}}
