{{#bootstrap-modal title="Upload targets" actionTitle="Upload" actionClass="btn-warning" actionEnabled=fileNotEmpty cancel=(action "cancel") action=(action "upload") close=(route-action "back")}}
  <div class="form">
    {{#validation-group errors=errors}}
      {{#file-upload name="targets"
                     accept="text/csv"
                     multiple=false
                     onfileadd=(action "enqueue")}}
        <a class="btn btn-primary" tabindex="0">Browse</a>
      {{/file-upload}}
      <b>&nbsp;
        {{#if file}}
          {{file.name}} ({{file.size}} bytes)
        {{else}}
          No file selected.
        {{/if}}
      </b>
    {{/validation-group}}
  </div>
  <small>
    Provide a CSV (comma-separated values) file:
    <ul>
      <li>without column headers,</li>
      <li>in UTF-8 (without BOM) encoding,</li>
      <li>with columns in the correct order,</li>
      <li>with optional double quotes around column values.</li>
    </ul>
    <b>First name, Last name, Email, Gender (optional), Department (optional), Comment (optional)</b>
  </small>
{{/bootstrap-modal}}
