{{#bootstrap-modal title="Delete resource" actionTitle="Delete" actionClass="btn-danger" cancel=(action "cancel") action=(action "save") close=(route-action "back")}}
  <p>Are you sure you want to delete <b>{{model.name}}</b> resource?</p>
{{/bootstrap-modal}}
