{{#bootstrap-modal title="Upload resource" actionTitle="Upload" actionClass="btn-warning" actionEnabled=fileNotEmpty cancel=(action "cancel") action=(action "upload") close=(route-action "back")}}
  <div class="form">
    <div class="form-group">
      {{#file-upload name="resource"
                     accept="*/*"
                     multiple=false
                     onfileadd=(action "enqueue")}}
        <a href class="btn btn-primary">Browse</a>
      {{/file-upload}}
      <b>&nbsp;
        {{#if file}}
          {{file.name}} ({{file.size}} bytes)
        {{else}}
          No file selected.
        {{/if}}
      </b>
    </div>
  </div>
  <small><b>WARNING:</b> providing a file will clear URL value if present.</small>
{{/bootstrap-modal}}
