{{#bootstrap-modal title="Delete victim" actionTitle="Delete" actionClass="btn-danger" cancel=(action "cancel") action=(action "save") close=(route-action "back")}}
  <p>Are you sure you want to delete <b>{{model.displayName}}</b> victim?</p>
{{/bootstrap-modal}}
