{{#bootstrap-modal title="Delete group" actionTitle="Delete" actionClass="btn-danger" cancel=(action "cancel") action=(action "save") close=(route-action "back")}}
  <p>Are you sure you want to delete <b>{{model.name}}</b> group?</p>
{{/bootstrap-modal}}
