{{#bootstrap-modal title="Duplicate template" actionTitle="Duplicate" actionClass="btn-warning" cancel=(action "cancel") action=(action "duplicate") close=(route-action "back")}}
  <p>Are you sure you want to duplicate <b>{{model.name}}</b> template?</p>
{{/bootstrap-modal}}
