<div class="row">
  <div class="col-sm-8 col-xs-12">
    <h1>
      Groups
    </h1>
  </div>
  <div class="col-sm-4 col-xs-12">
    <h1>
      {{#link-to "groups.new" class="btn btn-primary pull-right-sm"}}New group{{/link-to}}
    </h1>
  </div>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-sm-5 col-xs-10">Name</th>
      <th class="col-sm-6 hidden-xs">Description</th>
      <th class="col-sm-1 col-xs-2 text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each (persisted-records sortedGroups) as |group|}}
    <tr>
      <td class="col-sm-5 col-xs-10">{{#link-to "groups.group.index" group}}{{group.name}}{{/link-to}}</td>
      <td class="col-sm-6 hidden-xs">{{when-empty group.description "None"}}</td>
      <td class="col-sm-1 col-xs-2 text-center">
        {{#link-to "groups.group.edit" group}}{{fa-icon "edit"}}{{/link-to}}
        {{#link-to "groups.group.delete" group}}{{fa-icon "trash"}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
