{{#bootstrap-modal title="Delete target" actionTitle="Delete" actionClass="btn-danger" cancel=(action "cancel") action=(action "save") close=(route-action "back")}}
  <p>Are you sure you want to delete <b>{{model.displayName}}</b> target?</p>
  {{#if model.errors.record}}
  <p><span class="text-danger">Unable to delete record: {{join model.errors.record ", " "message"}}.</span></p>
  {{/if}}
{{/bootstrap-modal}}
